# compiled output
/dist
/node_modules
/build

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment variable files
.env

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Prisma Client
src/generated/prisma

notes
